@import "tailwindcss";

@theme{
    --font-inter:"Inter", sans-serif;
    --color-principal-pagina:#121416;
    --color-button:#DCE8F3;
    --color-borde-pagina:#2C3135;
    --color-secundario-pagina:#1E2124;
    --color-textos-card:#929BA2;
    --breakpoint-md:52rem;
    --breakpoint-fran:70rem;
}

:root{
    --icono-menu-cerrado:url('../assets/menu-open.svg');
    --icono-menu-abierto:url('../assets/menu-close.svg');
    --hero-image:linear-gradient(#000000a2,#000000c2), url('../assets/hero-image.jpg');
}